
#row1{
    margin-top: 5%;
}

#row2 h1{
    text-align: center;
}

.profile{
    margin-top: 5%;
}
.profile h1{
    text-align: center;
}

#footer { 
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;   

}
.body{
    min-height: 100%;
}
.card-img-top{
  height: 300px;  
}




