

body{
    margin:0;
    padding: 0;    
    background-image: url("/img/main.jpg");
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}


#header-name {
    display: inline;
    font-family: 'Abril Fatface', cursive;
    color:white;
    font-size: 69px;
    position:absolute;
    top:35px;

}

#login{
    background-color:#ff9966;
    font-family: 'Abril Fatface', cursive;
    color:white;
    font-size: 45px;
    height: 80px;
    position:absolute;
    right: 50px;

}

#signup{
    background-color:#ff9966;
    font-family: 'Abril Fatface', cursive;
    color:white;
    border:0;

}
#caption{
    
    color:white;
    font-size: 30px;
}
#footer { 
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}

#header{

    margin:100px ;
}

.jumbotron
{
    background-color:transparent !important;
     position:absolute;
    left: 300px;


}
.jumbotron h1{
    font-family: 'Abril Fatface', cursive;
    color:white;
    font-size: 100px;
}

#loginDialog{
    height: 250px;
    width: 450px;
    border: 0;
    border-radius: 3em;
    
    
}

#loginDialog h3{
    font-family: 'Abril Fatface', cursive;
}
#loginDialog p{
    color: grey;
    
    
}


