{% extends "master.html.twig" %}

{% block title %}Message{% endblock %}
{% block addhead %}
    <script>
        /*
         function refreshMsgList() {
         $.ajax({
         url: "/blaze.php/inbox/:id",
         // data: {},
         type: "GET",
         dataType: "json"
         })
         });
         // .error(function() {});
         }*/

        $(document).ready(function () {
            $("#btnSend").click(function () {
                var msgVal = $("#messageSent").val();
                var convoIdVal = $("#msgTest").attr("name"); //Need to figureout how to get ConvoID  *DONE*
                console.log("msg: " + msgVal, "convoID: " + convoIdVal);
                var msg = {ConvoID: convoIdVal, MsgContent: msgVal};
                $.ajax({
                    url: "/blaze.php/inbox/sendMsg", //Need to figureout for ID
                    data: JSON.stringify(msg),
                    type: "POST",
                    dataType: "json"
                }).done(function () {
                    alert("Addedd successfully");
                    //refreshTodoList();
                });
            });
            $(document).ajaxError(function () {
                alert("Ajax error occured");
            });

            //refreshTodoList();
        });
    </script> 
{% endblock %}
{% block currentMess %}
    active
{% endblock %}
{% block content %} 
    <div class="row">
        <div class="col-md-12 welcome" >
            <div id="row1">                                               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 matches" >
            <div id="row2">                    
                <h1 id="msgTest" name="{{al[0].ConvoID}}">Messages!</h1>
                <hr>
                {% for a in al%}
                    {% if a.CAuthorID != user %}
                        <div class="row">
                        <div class="messages">
                            <div class="card flex-row flex-wrap bg-light mx-5 my-3 float-left">                              
                                <div class="card-block px-2">                                    
                                    <small class="card-text">{{ a.MsgTime }}</small>
                                    <p class="card-text">{{ a.MsgContent}}</p>                                
                                </div>
                            </div>
                        </div>
                        </div>
                    {% else %}
                        <div class="row">
                        <div class="messages">
                            <div class="card flex-row flex-wrap bg-primary text-white mx-5 my-3 float-right">                              
                                <div class="card-block px-2">                                    
                                    <small class="card-text">{{ a.MsgTime }}</small>
                                    <p class="card-text">{{ a.MsgContent}}</p>                                
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <br>
                <form>
                    <div class="form-group mx-5">
                        <label for="messageSent"></label>
                        <textarea class="form-control" id="messageSent" rows="3" cols="5"></textarea>
                        <br>
                        <a href="#" class="btn btn-primary float-right" id="btnSend">Send</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

