{% extends "master.html.twig" %}

{% block title %}Home{% endblock %}
{% block addhead %}


    <script src="../jquery-3.3.1.min.js"></script>
    <script>
        function like(userIdVal) {
            var userId = {userId: userIdVal};
            $.ajax({
                url: "/like",
                data: JSON.stringify(userId),
                type: "POST",
                dataType: "json"
            }).done(function () {
                alert("inserted success");


            });
            $('#cardId' + userIdVal).hide();
        }

        function checkForNewMsg() {
            $.ajax({
                url: "/getStatus",
                dataType: "json",
                type: "GET"

            }).done(function (yesOrNo) {
                if (yesOrNo === "true")
                    $('#notification').show();
                    //alert("You have a new msg");
                       //alert(yesOrNo);
                else{
                    //alert("No messages");
                    $('#notification').hide();
                }
                setTimeout(checkForNewMsg, 2000);
            });

        }
        $(document).ready(function () {
            $('#notification').hide();
            checkForNewMsg();
            


        });

    </script>
{% endblock %}
{% block current %}
{% endblock %}
{% block content %}   
    <div class="row">
        <div class="col-md-12 welcome" >
            <div id="row1">
                <h5> Welcome back to the top rated Dating Site in Montreal!</h5>
                <h1>Blaze</h1>                    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 matches" >
            <div id="row2">                    
                <h1>People on Blaze!</h1>
                <hr>
                <div class="card-deck card-columns ml-5">
                    {% for a in al%}                    
                        <div class="nearMatches" id="cardId{{a.BLUserID}}">
                            <div class="card mx-3  mb-4" style="width: 20rem;">
                                <a href="http://blaze.ipd15.com/profile/{{a.BLUserID}}"><img class="card-img-top" src="/uploads/{{a.BLPhoto}}" alt="Error Profile Image"></a> 
                                <div class="card-body">
                                    <h5 class="card-title">{{a.BLFirstName}} {{a.BLAge}}, {{a.BLLocation}}</h5>
                                    <p class="card-text">{{a.BLLookingFor}}</p>
                                    <a href="#"  id="like{{a.BLUserID}}" onclick="like({{a.BLUserID}})"><img src="../img/like.png" alt="like"></a>
                                    <a href="#"  id="dislike{{a.BLUserID}}" onclick="dislike()"><img src="../img/dislike.png" alt="like"></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
