{% extends "master.html.twig" %}

{% block title %}Inbox{% endblock %}
{% block addhead %}
{% endblock %}
{% block currentMess %}
    active
{% endblock %}
{% block content %} 
    <div class="row">
        <div class="col-md-12 welcome" >
            <div id="row1">                                               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 matches" >
            <div id="row2">                    
                <h1>Inbox</h1>
                <hr>
                <div class="card-deck  ml-5">
                    {% for a in al%}
                        {% if a.CAuthorID == user %}
                            <div class="messages">
                                <div class="card flex-row flex-wrap">
                                    <div class="card-header border-0">
                                        <a href="http://blaze.ipd15.com/profile/{{a.CReceiver}}"><img src="/uploads/{{a.SenderPhoto}}" alt="Error" width="75" height="75"></a>
                                    </div>
                                    <div class="card-block px-2">
                                        <a href="http://blaze.ipd15.com/inbox/{{a.ConvoID}}">
                                            <h4 class="card-title">{{ a.SenderFN }}</h4></a>
                                        <small class="card-text">{{ a.MsgTime }}</small>
                                        <p class="card-text">{% if a.wasSeen=='false' %}<b>{{ a.MsgContent}}</b>{% else %}{{ a.MsgContent}}{% endif %}</p>                                
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="messages">
                                <div class="card flex-row flex-wrap">
                                    <div class="card-header border-0">
                                        <a href="http://blaze.ipd15.com/profile/{{a.CAuthorID}}"><img src="/uploads/{{a.ReceiverPhoto}}" alt="Error" width="75" height="75"></a>
                                    </div>
                                    <div class="card-block px-2">
                                        <a href="http://blaze.ipd15.com/inbox/{{a.ConvoID}}">
                                            <h4 class="card-title">{{ a.ReceiverFN }}</h4></a>
                                        <small class="card-text">{{ a.MsgTime }}</small>
                                        <p class="card-text">{% if a.wasSeen=='false' %}<b>{{ a.MsgContent}}</b>{% else %}{{ a.MsgContent}}{% endif %}</p>                                
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
