<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>My Webpage</title>
        <script>
            $(document).ready(function () {
                var loginBtn = document.getElementById('login');
                var favDialog = document.getElementById('loginDialog');


                // “Update details” button opens the <dialog> modally
                loginBtn.addEventListener('click', function () {

                    favDialog.showModal();
                });
                var signupBtn=document.getElementById('signup');
            signupBtn.addEventListener('click',function(){
                favDialog.showModal();
            });
            });
            

            function checkLoginState() {
                FB.getLoginStatus(function (response) {
                    statusChangeCallback(response);
                });
            }
        </script>
    </head>
    <body>
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '226551191631210',
                    cookie: true,
                    xfbml: true,
                    version: 'v2.3'
                });

                FB.AppEvents.logPageView();

            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            
    
    function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
      
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
        console.log(response);
      console.log('Successful login for: ' + response.name);
      window.location.href = "https://blaze.ipd15.com/loginsuccess/"+response.id+"/"+response.name;
    });
  }
        </script>
        <div class="contaner-fluid" id="content">           
            <div id="header" class="row">
                <div id="logo" class="col">
                    <img src="/img/fire.png" alt="icon"/>
                    <h1 id="header-name">BLAZE</h1>
                </div>
                <div class="col">
                    <button id="login" class="btn btn-secondary">LOG IN</button> 
                </div>
            </div>
            <div class="row">
                <div class="jumbotron">
                    <h1 class="display-4">BROWSE.LIKE.CONNECT</h1>
                    <p id="caption" class="lead">Register now to start using Blaze</p>
                    <hr class="my-4">                   
                    <p class="lead">
                        <a id="signup" class="btn btn-primary btn-lg" href="#" role="button">SIGN UP</a>
                    </p>
                </div>
            </div>
            <div id="footer">&copy; Copyright 2019 by <a href="http://domain.invalid/">you</a>.
                <div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></div>


        </div>
        <dialog id="loginDialog">
            <h3>GET STARTED NOW! </h3>
            <p id="info">By clicking login you are agreeing to the <a href="#">Terms</a>,<a href="#">Privacy</a> and <a href="#">Cookie</a>policy.</p>
            
            <div class="fb-login-button" onlogin="checkLoginState();" data-width="200" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"></div>
                
            
           

        </dialog>
    </body>
</html>
