<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132733696-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-132733696-1');
        </script>

        <link rel="stylesheet" href="/masterStyle.css" />
        <title>{% block title %}{% endblock %} - Blaze</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% block addhead %}
        {% endblock %}
    </head>
    <body>        
        <div class="container-fluid">
            <div class="row" >
                <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="/home"> <img src="img/fire.png" width="30" height="30" class="d-inline-block align-top" alt="">Blaze</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item {% block currentProf %}{% endblock %}">
                                <a class="nav-link" id="profile_view" href="/profile">Profile <span class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block currentMess %}{% endblock %}" href="/inbox">Inbox</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block currentMatch %}{% endblock %}" href="/matches">Matches</a>
                            </li>
                            <li class="nav-item {% block currentLogout %}{% endblock %}">
                                <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">Logout</a>
                            </li>
                            <div id="notification">
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">You have a new message!</a>
                                    
                                </li>
                                <li class="nav-item">
                                <img style="display: inline;" id="icon" src="../img/newMsgWhite.png" alt="icon"/>
                                </li>
                            </div>
                        </ul>
                    </div>                  
                </nav>
            </div>    
            <div id="body">{% block content %}{% endblock %}



                <!---- TODO: add Google Analytics tracking code --->
            </div>

            <hr class="mt-5">
            <footer id="footer" class="page-footer font-small text-black mt-5">
                <div class="container text-center text-md-left">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase font-weight-bold"><a href="#">Have Better Conversations</a></h6>

                        </div>
                        <!-- Grid column -->
                        <div class="col-md-1 col-lg-1 col-xl-1 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold"><a href="#">Safety</a></h6>                      

                        </div>
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold"><a href="#">Terms of Service</a></h6>                            

                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold"><a href="#">Privacy Policy</a></h6>                            

                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold"><a href="#">Cookie Policy</a></h6>                           

                        </div>                        
                    </div>
                    <div class="row mt-2">
                        <div class="mx-auto mb-4">
                            <small>&copy;Copyright 2001-2019 Blaze Media ULC, Montreal Canada. </small>
                        </div>
                    </div>
                </div>


            </footer>

        </div>

    </body>
</html>
