{% extends "master.html.twig" %}

{% block title %}My Matches{% endblock %}
{% block addhead %}
{% endblock %}
{% block currentMatch %}
    active
{% endblock %}
{% block content %}       
    <div class="row">
        <div class="col-md-12 welcome" >
            <div id="row1">                                               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 matches" >
            <div id="row2">                    
                <h1>Here are your personalized matches!</h1>
                <hr>
                <div class="card-deck card-columns ml-5">
                {% for a in al%}                    
                    <div class="nearMatches">
                        <div class="card mx-3  mb-4" style="width: 20rem;">
                            <a href="http://blaze.ipd15.com/profile/{{a.BLUserID}}"><img class="card-img-top" src="/uploads/{{a.BLPhoto}}" alt="Error Profile Image"></a> 
                            <div class="card-body">
                                <h5 class="card-title">{{a.BLFirstName}} {{a.BLAge}}, {{a.BLLocation}}</h5>
                                <p class="card-text">{{a.BLLookingFor}}</p>
                                 <a href="#"  id="like{{a.BLUserID}}" onclick="like({{a.BLUserID}})"><img src="../img/like.png" alt="like"></a>
                                <a href="#"  id="dislike{{a.BLUserID}}" onclick="dislike()"><img src="../img/dislike.png" alt="like"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
