{% extends "master.html.twig" %}

{% block title %}Edit Profile{% endblock %}
{% block addhead %}
    <link rel="stylesheet" href="/profile_edit_style.css" />
{% endblock %}
{% block current %}
{% endblock %}
{% block content %}
    <div id="form" class="row">
       
        <div class="col-3">
            {% if u.BLPhoto!=null %}
            <img src="/uploads/{{ u.BLPhoto}}" alt="profile_pic" height="350px" width="250px"/>
            {% else %}
                <img src="/uploads/noimage.png" alt="profile_pic" height="300px" width="250px"/>
                {% endif %}
        </div>
        <div class="col-6">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label">About</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="about" rows="3" >{{u.BLAboutMe}}</textarea>
                </div>
            </div>
                <div class="form-group row">
                <label for="location" class="col-md-3 col-form-label">Location: </label>
                <div class="col-md-9">
                    <select id="inputState" class="form-control" name="location">
        <option selected>{{u.BLLocation}}</option>
        <option>Toronto</option>
        <option>Calgary</option>
        <option>Ottawa</option>
        <option>Edmonton</option>
        <option>Mississauga</option>
        <option>Winnipeg</option>
        <option>Vancouver</option>
        <option>Brampton</option>
        <option>Hamilton</option>
        
      </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="lookingfor" class="col-md-3 col-form-label">Looking for: </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="lookingfor" id="lookingfor" value="{{u.BLLookingFor}}">
                </div>
            </div>
                
            <div class="form-group row">
                <label for="lookingfor" class="col-md-3 col-form-label">Ages: </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="ageFrom" id="lookingfor" value="{{u.BLAgeRangeFrom}}">
                </div>-
                <div class="col-md-4">
                    <input type="text" class="form-control" name="ageTo" id="lookingfor" value="{{u.BLAgeRangeTo}}">
                </div>
            </div>    

            <div class="form-group row">
                <label for="education" class="col-sm-3 col-form-label">Education: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="education" id="lookingfor" value="{{u.BLEducation}}">
                </div>
            </div>
                <div class="form-group row">
                <label for="age" class="col-sm-3 col-form-label">Age: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="age" id="age" value="{{u.BLAge}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="interests" class="col-sm-3 col-form-label">Interests: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="interests" id="interests" value="{{u.BLInterests}}">
                </div>
            </div>
                <div class="form-group row">
                <label for="work" class="col-sm-3 col-form-label">Work: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="work" id="work" value="{{u.BLWork}}">
                </div>
            </div>
                 <div class="form-group row">
                    <label for="work" class="col-sm-3 col-form-label" >Change image: </label>
                <div class="col-sm-9">
                    <input type="file" class="form-control-file" name="image" id="image">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
               
        </form>
            </div>
                <div class="col-3">
                    {% for error in errorList %}
                    <span>* {{ error }}</span><br>
                    {% endfor %}
                </div>

    </div>

{% endblock %}{# empty Twig template #}
