{% extends "master.html.twig" %}

{% block title %}Profile{% endblock %}
{% block addhead %}
    <link rel="stylesheet" href="/profilestyle.css" />
{% endblock %}
{% block currentProf %}
    active
{% endblock %}
{% block content %}
    <div id="profile">
    <div class="row">
        <br>
        <br>
        <h3>{{u.BLFirstName}}, {{u.BLAge}} y/o,{{u.BLGender}}, from {{u.BLLocation}}</h3>
        
    </div>
    <div class="row">
        <div class="col-4">
            <img src="/uploads/{{ u.BLPhoto}}" alt="profile_pic" height="350px" width="250px"/>
        </div>
        <div id="about" class="col-5">
            
            <p><i>"{{u.BLAboutMe}}"</i></p>
                        
             <p><b>Looking for: </b>{{u.BLLookingFor}}<br>
                  <b>Looks for someone: </b>{{u.BLAgeRangeFrom}}-{{u.BLAgeRangeTo}}<br>
                  <b>Went To: </b> {{u.BLEducation}}<br>
                 <b>Height: </b> {{u.BLHeight}}<br>
                 <b>Interested in: </b>{{u.BLInterests}}<br>
                 <b>Ocupation: </b>{{u.BLWork}}<br> </p>
                 <div id="edit">
                 {% if isOwn=="true" %}<a  href="/profileedit"><button  class="btn btn-primary btn-lg" >Edit Profile</button></a>{% endif %}
                 </div>
                
                 
        </div>
    </div>
    </div>
    

{% endblock %}
