{% extends "master.html.twig" %}
{% block content %}
    <div style="padding-top: 100px;">
    <h3>Looks like you did not login... </h3>
    <h4><a href="/">Go to main page</a> to login</h4>
    </div>
    
    {% endblock %}